<div class="item">
    <button class="item__title">
        <h3 class='tsb'>@@name</h3>
        <div class="icon">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.5 8H8M8 8H13.5M8 8V2.5M8 8V13.5" stroke="#0F1D4E" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

        </div>
    </button>
    <div class="item__body" style="display: none;">
        <div class="content">
            <p>@@answer</p>
        </div>
    </div>
</div>